<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>JasonDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>JasonDemoWidget.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D40C2F451E651B6200F5328B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D43ACDE51C8EA2D500C2BD84</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D43ACDFE1C8EA2D600C2BD84</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D43ACE091C8EA2D600C2BD84</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D4FCC6F21D472E2100D83118</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D4FCC70A1D472E2100D83118</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D4FCC7151D472E2100D83118</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
